/*
.reveal .slides section .fragment.appear {
  -webkit-transform: scaleX(0);
          transform: scaleX(0); }
  .reveal .slides section .fragment.appear.visible {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
*/

.reveal .slides section .fragment.appear {
  height: 0px;
  visibility: hidden;
  transition: height 2s; }
  .reveal .slides section .fragment.appear.visible {
    height: auto;
    visibility: inherit; }

.backgrounds {
  blur(5px) opacity(100%) saturate(30%) brightness(100%) contrast(50%);
}
