.reveal .slides section .fragment.appear {
  -webkit-transform: scaleX(0);
          transform: scaleX(0); }
  .reveal .slides section .fragment.appear.visible {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
